html,body{
    padding:0px;
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
.iframe-style{
    position:absolute;
}

.navbar  {
    background-color: white !important;
}

.car-view{
  position: absolute;
  width:250px;
  top:1rem;
  left:40%;
}
.top-branding-band img, .left-color-tool img,.bottom-tool img,.image-full, .car-view img, .right-color-tool img{
    width:100%;
    
}
.left-feature-close-bar img{
  width: 50%;
}
 .left-feature-close-popup img{
  width: 50%;
  cursor: pointer;
}


.togglepng{
  cursor: pointer;
}
.left-color-tool{
    position: absolute;
    width:35px;
    top:30%;
    left:.75rem;
    text-align: center;
    
   
}
.left-feature-close-bar{
  position: absolute;
  width:200px;
  top:35%;
  left:1.2rem;
  text-align: center;
  background-color: #000;
  padding:10px;
  -webkit-filter: drop-shadow(3px 3px 3px #fff);
  filter: drop-shadow(3px 3px 3px #fff);
  border-radius: 20px;
}
.left-feature-close-popup{
  position: absolute;
  width:200px;
  top:35%;
  right:1.2rem;
  text-align: center;
  background-color: #000;
  padding:10px;
  -webkit-filter: drop-shadow(3px 3px 3px #fff);
  filter: drop-shadow(3px 3px 3px #fff);
  border-radius: 20px;
}
#left-feature-close-bar h3{
  color:red;
  font-size: 14pt;
}
#left-feature-close-popup h3{
  color:red;
  font-size: 14pt;
}
.car-tool  img{

}

.car-tool.active img{
  border:2px solid red;
}
.feature-close-button{
  cursor: pointer;
}
.right-color-tool{
  position: absolute;
  width:105px;
  top:22%;
  right:1rem;
  text-align: center;
  padding-right:10px;
  background-color: #bdc4d4;
  opacity: 0.9;

}
.left-color-tool .color_label{
  padding:5px 0px;margin:0px;text-align: center !important;
  text-transform: capitalize;font-weight: bold !important;background-color: #F03E3F;
  font-size:8pt;
}
.bottom-tool{
    position: absolute;
    bottom:6%;    
    left:1rem;
    height: 60px;
    
    width: 37%;
    margin: 0px 30%;
    text-align: center;
}

.card {
    position: relative;
    display: inline-block;
    margin: .1vw;
    margin-bottom:.3vw;
    cursor: pointer;
    background: none !important;
    border: none !important;
}

.card:hover{
   opacity: 0.7;
}
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    display: inline;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 1%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #000000;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 2px;
    background-color:#000;
    color: white;
    font-size: 1vw;
  }
  .modal-header h2 {padding:0px;margin:5px;}
  .modal-body {padding: 2px 16px;color:#fff}
  
  .modal-footer {
    padding: 2px 2px;
    background-color:#37b34a;
    color: white;
  }
  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
  }
  .navi-img{
      width:40px;
      padding:2px;
      transition: 0.3s;
  }
  .navi-img:hover{
      cursor: pointer;
      opacity: 0.6;
  
  }

  [name="skoda_images"] + img {
    opacity: 0;
    transition: opacity 0.5s ease;
}
.transition {opacity: 1;}

.preloader-screen {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  display: block;
  background-color: #fff;
}

.div-block-2 {
  position: relative;
  width: 50%;
  height: 50%;
}
.div-block {
  position: absolute;
  left: auto;
  top: auto;
  right: -50px;
  bottom: -60px;
  display: block;
  overflow: hidden;
  width: 200px;
  height: 140px;
  margin-right: auto;
  margin-left: auto;
}
.image {
  position: static;
  left: 0px;
  top: 40%;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow: hidden;
  width: auto;
  height: 70%;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
}
.text-block {
  position: static;
  display: block;
  overflow: hidden;
  height: auto;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
 
  color: #638BBB;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}
/* Annotation */
.v3d-annotation{
  background-color: orange;
  width:10px;
  height:10px;
  min-width: 0px;
  padding: 0px;
  font-size: 0px;

}
.v3d-annotation-transparent{
    background-color: grey;
    opacity: 0;
}

/* Mobile Setup */
@media (max-width:740px){
  .top-branding-band{
    position: absolute;
    width:80px;
    top:1vw;
    left:1vw;
}
.card {
  width: 30px !important;    
  
  margin-bottom:8px;
}
}

/* Buttons Bellow */
.exterior-view__color ul li a label {
  width: 300px;
  text-align: center;
  position: absolute;
  color: #ffffff;
  left: 50%;
  margin-left: -150px;
  display: block;
  top: -20%;
  font-family: "DBHeavent", Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2em;
  font-size: 0.6rem;
  margin-bottom: 10px;
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.1s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.1s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.1s cubic-bezier(0, 0, 0.58, 1);
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
  .exterior-view__color ul li a label {
  font-size: 0.75rem;
}
 .exterior-view__color ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-content: flex-end;
  -ms-align-content: flex-end;
  align-content: flex-end;
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 90px;
}

  .exterior-view__color ul li {
  margin: 0 5px;
}
  .exterior-view__color ul li a {
  width: 80px;
  height: 70px;
  background: url('./shadow.png') repeat-x center center;
  background-size: contain;
  display: block;
  -webkit-box-shadow: inset 0 0 0px 3px #ffffff;
  -moz-box-shadow: inset 0 0 0px 3px #ffffff;
  box-shadow: inset 0 0 0px 3px #ffffff;
  -webkit-transform: skew(-15deg, 0deg);
  -moz-transform: skew(-15deg, 0deg);
  -ms-transform: skew(-15deg, 0deg);
  -o-transform: skew(-15deg, 0deg);
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  position: relative;
}
.exterior-view__color ul li a.red {
  background-color:#4E413E;
}
.exterior-view__color ul li a.white {
  background-color: #E0E4EA;
}
.exterior-view__color ul li a.blue {
  background-color: #231E4A;
}
.exterior-view__color ul li a.black {
  background-color: #2E2D2C;
}
.exterior-view__color ul li a.gray {
  background-color: #575756;
}
.exterior-view__color ul li a.lightgray {
  background-color: #B1B5B9;
}
.exterior-view__color ul li a.silver {
  background-color: #B1B5B9;
}
.exterior-view__color ul li a:hover {
  width: 180px;
}
.exterior-view__color ul li a.active {
  width: 180px;
  height: 90px;
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}
.exterior-view__color ul li a.active label {
  -webkit-transition: all 0.2s 0.1s cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 0.2s 0.1s cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 0.2s 0.1s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.2s 0.1s cubic-bezier(0.42, 0, 0.58, 1);
  opacity: 1;
  color:#fff;
}

/* Loading Animation */


.div-block-11 {
  display: block;
  width: 200px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15%;
}
.div-block-12 {
  width: 100%;
  height: 100%;
  background-image: url('images/toyota_logo.png');
  background-position: 50% 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.my3dProgress {
  position: absolute;
  width: 30vw;
  background-color: #cdcdcd;
  position: absolute;
  border-radius: 25px;
  height: 12px;
  left: 50%;
  margin-left: -15vw;
}

.my3dBar {
  width: 10%;
  height: 12px;
  background-color: #ed2e3e;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 25px;
  
}


.progress-bar-div {
  position: absolute;
  left: 0px;
  top: 10%;
  right: 0px;
  bottom: 60%;
  display: block;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.loadtext {
  text-align: center;
  padding-top: 1vh;
}

/* Annotations Menu  */
.hotspot-view-bar{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-content: flex-end;
  -ms-align-content: flex-end;
  align-content: flex-end;
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  margin: 0 auto;
  padding: 0;
  
  list-style: none;
  
  border-bottom:2px solid #F03E3F;
  width:80%;
}
.ann_menu{
   
  text-align: center;
  
  color: #ffffff;
 
  
  display: block;
  
  font-family: "DBHeavent", Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2em;
  font-size: 1rem;
  
  padding:10px 1rem;
  
  -webkit-transition: all 0.1s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.1s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.1s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.1s cubic-bezier(0, 0, 0.58, 1);
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
.ann_menu:hover{
  background-color: #F03E3F;
  border-top-right-radius: 20px 20px;
  border-top-left-radius: 20px 20px;
  cursor: pointer;
}
.ann_menu.active{
  background-color: #F03E3F;
  border-top-right-radius: 20px 20px;
  border-top-left-radius: 20px 20px;
}